

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($width, $height) {
    width: $width;  
    height: $height;
}
@mixin border-radius($radius) {
    border : 3px solid #4dff00;
    border-radius: $radius;
}



.container{
    @include flex(row, center, center);
    @include size(100%, 100vh);
    cursor: pointer;

}
.avatar {
    @include size(50px, 50px);
    @include border-radius(50%);
}
